@font-face {
    font-family: 'Mona Sans';
    src:
      url('Mona-Sans.woff2') format('woff2 supports variations'),
      url('Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }

* {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mona Sans', 'Courier New';
}

  

.content {
    background-color: #b91c1c;
}

body {
    height: 100vh;
}

.content {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 12fr;
    grid-template-areas: 
        "nav"
        "body";
    border: 25px double white;
}

.nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
    list-style-type: none;
    font-size: 1.5rem;
    text-align: center;
    background-color: #991b1b;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 500px;
}

.content > div:first-child {
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content > div > img {
    width: 500px;
}

.backimg {
    position: absolute;
    width: 1200px;
    transform: scaleX(-1);
    bottom: -100px;
    right: 25px;
    opacity: 80%;
}

.content > h1 {
    color: white;
    padding-top: 200px;
    padding-left: 400px;
    letter-spacing: .2rem;
    font-size: 6rem;
}

.btnhold {
    display: flex;
    color: white;
    padding-bottom: 500px;
    padding-left: 530px;
    font-style: italic;
    font-size: 2rem;
    letter-spacing: .1rem;
    gap: 25px;
    align-items: center;
}

.btnhold button {
    background-color: #b91c1c;
    width: 100px; 
    border: 5px solid white;
    border-radius: 50px;
    color: white;
    font-size: 1.5rem;
    font-style: italic;
    height: 50px;
}

.btnhold button:hover {
    background-color: white;
    border: 5px solid #b91c1c;
    color: #b91c1c;
}

a {
    text-decoration: none;
    color: white;
}

li:hover {
    color: black;
}
