@font-face {
    font-family: 'Mona Sans';
    src:
      url('Mona-Sans.woff2') format('woff2 supports variations'),
      url('Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }

* {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mona Sans', 'Courier New';
    text-shadow: 0px 0px 5px #000000;
}

  

.content {
    background-color: #b91c1c;
}

body {
    height: 100vh;
    position: relative;
}

.content {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 12fr;
    grid-template-areas: 
        "nav"
        "body";
    border: 25px double white;
    gap: 15px;
}

.nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
    list-style-type: none;
    font-size: 1.5rem;
    text-align: center;
    background-color: #991b1b;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 500px;
}

.content > div:first-child {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
}

.content > div:first-child > img {
    width: 200px;
    justify-self: end;
}


.backimg {
    position: absolute;
    width: 1000px;
    transform: scaleX(-1);
    bottom: 0px;
    right: 25px;
    opacity: 80%;
    z-index: 999;
}

.hero {
    padding-left: 20%;
    padding-top: 10%;
    margin-top: 2%;
    background-color: #991b1b;
    border-top-left-radius: 1000px;
}

.hero > h1 {
    color: white;
    letter-spacing: .2rem;
    font-size: 6rem;
    text-shadow: 0px 0px 5px #000000;
    
}

.btnhold {
    display: flex;
    color: white;
    font-style: italic;
    font-size: 2rem;
    letter-spacing: .1rem;
    gap: 50px;
    align-items: center;
    text-shadow: 0px 0px 5px #000000;
    
}

.btnhold button {
    background-color: #b91c1c;
    width: 100px; 
    border: 5px solid white;
    border-radius: 50px;
    color: white;
    font-size: 1.5rem;
    font-style: italic;
    height: 50px;
}

.btnhold button:hover {
    background-color: white;
    border: 5px solid #b91c1c;
    color: #b91c1c;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}

.btnhold button:active {
    background-color: rgb(141, 141, 141);
}

.navhold {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.flag {
    position: absolute;
    top: -35px;
    left: 0;
}

.curve {
    position: absolute;
    background-color: #991b1b;
    z-index: 9;
    width: 700px;
    height: 300px;
    right: 25px;
    top: 25px;
    border-top-left-radius: 1000px;
}

.footer {
    width: 100%;
    position: fixed;
    text-align: center;
    padding: 10px 0;
    font-size: 1.5rem;
    background-color: #991b1b;
    color: white;
    bottom: 0;
}

.menulist {
    align-self: center;
    justify-self: center;
    background-color: #991b1b;
    width: 800px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 50px;
    padding: 25px;
    line-height: 50px;
    color: white;
    grid-area: body;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menulist p {
    font-size: 1rem;
}

.menulist img {
    width: 500px;
    border-radius: 50px;
}

.smaller-nav {
    width: 250px;
    font-size: 1rem;
}